<div class="card card-primary card-outline">
    <div class="card-body">
        <div>
            <div style="margin: 1%;">
                <form >
                    <div class="form-group">
                        <textarea rows="4" cols="5" (change)="onSaveRequest($event)" placeholder="Veuillez entrer le motif da l'appel" class="form-control form-control-sm textareaMessage" name="motif" [(ngModel)]="request.Motif"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" (change)="onSaveRequest($event)" placeholder="Status" class="form-control form-control-sm inputStatus"  name="status" [(ngModel)]="request.status">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


