
 <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title"><label>Appels sortants</label></h3>
            </div>
            <div class="card-body">
              <div>
                <div class="small-box bg-primary">
                  <div class="inner">
                    <h3> {{numberOfoutGoingCall}} </h3>
                    <p>Appels sortants</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title"><label>Appels entrants</label></h3>
            </div>
            <div class="card-body">
              <div>
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3> {{numberOfInCommingCall}} </h3>
                    <p>Appels entrants</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title"><label>Appels traités</label></h3>
            </div>
            <div class="card-body">
              <div>
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3> {{numberOfAnswersCall}} </h3>
                    <p>Appels traités</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title"><label>Appels non traités</label></h3>
            </div>
            <div class="card-body">
              <div>
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3> {{numberOfNoAnswersCall}} </h3>
                    <p>Appels non traités</p>
                  </div>
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div> 
</div>